<header>
    <default-header tittle="¡Dale a click!" color="blacK" class="px-10" margin="2rem"></default-header>
    <h2 class="font-frijole text-grande text-center text-black m-3">{{game.nombre()}}</h2>
</header>
<main>
    <div class="container-main"> 
        <clicker-button></clicker-button>
    </div>
</main>
<footer class="footer">
    <div class="container temp">
        <h1>Contador</h1>
    </div>
    <div class="container cont">
        <contador-juego color="red" class="text-center align-middle"></contador-juego>
    </div>
    <div class="btn-conntainer container btn">
        <app-button text="Salir" color="red" margin="0.5rem" ruta="/" clearGlobal="true"></app-button>
    </div>
</footer>
