@font-face {
    font-family: 'frijole';
    src: url(../../fonts/frijole.ttf) format("truetype");
}


.default-header {
    margin: 1em;
    text-align: center;
    font-size: 5rem;
    font-family: 'frijole', Arial, sans-serif;
    color: red;
}

@media screen and (min-width: 900px) {
    .default-header {
        font-size: 4.2rem;
    }
}