@font-face {
    font-family: 'frijole';
    src: url(../../fonts/frijole.ttf) format("truetype");
}

.btn-app {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2rem;
    text-decoration: none;
    min-width: 15rem;
    min-height: 5rem;

    font-family: 'frijole', Arial, sans-serif;;
    font-size: 1.5rem;

    border: none;
    border-radius: 4rem;

}

@media screen and (min-width: 900px) {

    .btn-app {
        padding: 0.5rem;
        font-size: 1rem;
        min-width: 10rem;
        min-height: 4rem;
    }
    
}