@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'frijole';
    src: url(./fonts/frijole.ttf) format("truetype");
}

body {
    background-image: url('app/img/pokemonBackground.png');
    background-attachment: fixed;
    background-position: center;
}