@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'frijole';
    src: url(assets/fonts/frijole.ttf) format("truetype");
}

body {
    background-image: url('assets/img/pokemonBackground.png');
    background-attachment: fixed;
    background-position: center;
}